<p id="notice"><%= notice %></p>
<p id="notice"><%= notice %></p>
<p id="notice"><%= notice %></p>

<h1>トレーニング記録一覧</h1>

<table class="table table-striped"
       style="text-align: right; width: 100%;">
  <thead>
    <tr>
      <th>Item</th>
      <th>Weight</th>
      <th>Reps</th>
      <th>Set</th>
      <th>Mode</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trainings.each do |training| %>
      <tr>
        <td><%= training.item.index_name %></td>
        <td><%= training.weight %></td>
        <td><%= training.reps %></td>
        <td><%= training.set %></td>
        <td><%= training.mode %></td>
        <td><%= link_to 'Show', training %></td>
        <td><%= link_to 'Edit', edit_training_path(training) %></td>
        <td><%= link_to 'Destroy', training, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Training', new_training_path %>
