<p id="notice"><%= notice %></p>
<p id="notice"><%= notice %></p>
<p id="notice"><%= notice %></p>

<h1>トレーニング記録一覧</h1>

<table class="table table-striped"
       style="text-align: right; width: 100%;">
  <thead>
    <tr>
      <th>Item</th>
      <th>Weight</th>
      <th>Reps</th>
      <th>Set</th>
    </tr>
  </thead>

  <tbody>
    <% @trainings.each do |training| %>
      <tr>
        <td><%= link_to training.item.index_name, training %>
      </td>
      <td><%= training.weight %></td>
      <td><%= training.reps %></td>
      <td><%= training.set %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Training', new_training_path %>
