<p id="notice"><%= notice %></p>

<h1>今日のおすすめメニュー</h1> 
  <% @items.each do |item| %>
    <li>
    <%= item.name %> . <%=  item.part.name  %> -> <%=  item.reps %>回
    </li>
  <% end %>

<h1>トレーニング記録一覧</h1>
<table class="table table-striped"
       style="text-align: right; width: 100%;">
  <thead>
    <tr>
      <th>Day</th>
      <th>
        Item
        Weight
        Reps
        Set
      </th>
    </tr>
  </thead>

  <tbody>
    <% @trainings.each do |training| %>
      <tr>
        <td><%= training.day %> . <%=  training.num  %></td>
        <td>
          <%= link_to training.item.index_name, training %>
          <%= training.weight %> kg /   
          <%= training.reps %>  
          [<%= training.set %>]  
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Training', new_training_path %>

<h1>筋力トレーニングのアドバイス・メモ</h1>
...viewにベタで書いてるけど、こういうことを整理するようにしたい。種目ごとにメモ、全体メモ？などの要素を入れる。

<h2>フルボトムスクワット</h2>

<p>
 ケツをマックス落として、立つ時にぐっと入れるイメージ。顔は常に正面。目を見る、ちょっとアゴを引くのがいい感じぽい。前後にぶれない。
 </P>

 <h2>バーベルベンチプレス</h2>
 <p>
  アーチを作り、胸を立てる。下部が上を向く。肩をリラックスして。肩を足の方に落とす。て幅は80ラインの内側に小指があたるようにして親指がわに重心。バーが固定されている、背中でベンチを押し付けるようなイメージ。
  </P>
  
 <h2>インクラインダンベルベンチプレス</h2>
 <p>
   アーチを作り、胸を立てる。ケツは浮かせないこと。垂直にダンベルを落とすけどイメージは肘が足の方奥にいく感じ。春日町のように胸を開くことが大事と考える。基本的にはレンジをひろくとる。
 </p>

 <h2>バーベルバックプレス</h2>
 <p>
    肩のラインから、横から見た時に一直線にバーベルをあげる。バーベルの持つ位置はフィニッシュで直角に肘がなる幅。首を前にスライドして後頭部を擦るイメージ。肘を前に出す、肘と前腕が垂直方向に動くことを強制すると考える
 </p>

 <h2>ハーフ？デッドリフト</h2>
 <p>
     パワーグリップはちゃんと巻く。ストラップ同様ギチギチにする！ゴム第２枚重ねにすると足はば広げすぎず、底上げできるのでよい。スタートは断ち切ったところで胸をはり。ケツを閉めて。そこから下げて戻す。脛が擦るイメージ。ケツをぐっと入れるイメージ。スコンスコンと早いイメージ、工場のピストンのイメージと自分は考える
 </p>

 <h2>アレンジプルアップ</h2>
 <p>アシストマシン専用。膝は後ろめ。肩幅より少し広めで握り。腕は伸ばしきらないとこまで落とす。背中のテンション感じるところで、肩をすくめ胸を入れて、さらに広背筋の外側？脇の下？のストレッチをさせるテンション感じるのが大事と考える。ちゃんと胸を突き上げるイメージしないといけないので気をつける
 </p>
 
 <h2>EZバーアームカール</h2>
 <p>
 肘は基本的には位置を固定する。やや前傾姿勢で背中で引かないこと、まっすぐ上にあげる。上体で向かいにいく「前かがみきみ〕
 </p>

<h2>etc</h2>
<p>
7種目。ビッグ3を中心に考える。時間とパワー配分は。スクワットは腰の負担もあるけど高重量すぎないところで追い込む10〜15?
       サブ種目などは多少バリエーション加える。けど取り敢えず上記7つをきっちり、トラディショナルなやり方で、ストリクトにオーバロードの原則でやる。基本の基本。
</p>

