<p id="notice"><%= notice %></p>
<p id="notice"><%= notice %></p>
<p id="notice"><%= notice %></p>

<h1>トレーニング記録一覧</h1>

<table class="table table-striped"
       style="text-align: right; width: 100%;">
  <thead>
    <tr>
      <th>Day
        Item
        Weight
        Reps
        Set
      </th>
    </tr>
  </thead>

  <tbody>
    <% @trainings.each do |training| %>
      <tr>
        <td><%= training.day %> . <%=  training.num  %> ->
          <%= link_to training.item.index_name, training %>

          <%= training.weight %>
          <%= training.reps %>
          <%= training.set %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Training', new_training_path %>
