<p id="notice"><%= notice %></p>

<%= @training.day %>.<%= @training.num  %>
<p>
  <strong>Item:</strong>
  <%= @training.item.index_name %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @training.weight %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @training.reps %>
</p>

<p>
  <strong>Set:</strong>
  <%= @training.set %>
</p>

<p>
  <strong>Mode:</strong>
  <%= @training.mode.name %>
</p>

<%= link_to 'Edit', edit_training_path(@training) %> |
<%= link_to 'Back', trainings_path %> |
<%= link_to 'Destroy', @training, method: :delete, data: { confirm: 'Are you sure?' } %>
