<div class="pagination">
  <%= link_to 'ページに戻る',page_path(@line.page_id)  %> 
</div>
<div class="pagination">
  <% if @prev_line %>
    <%= link_to '前へ[' + @prev_line.no.to_s + '.' + @prev_line.item.part.name + ']' , [:edit, @prev_line] %> 
  <% else %>
    <a>先頭です。</a>
  <% end %>
</div>
<!--BUD DRY-->
<div class="pagination">
  <% if @next_line %>
    <%= link_to '次へ[' + @next_line.no.to_s + '.' +  @next_line.item.part.name + ']', [:edit, @next_line] %> 
  <% else %>
    <a>最後です。</a>
  <% end %>
</div>
<%= form_for(@line , remote: true,:html => {class: "form-inline"}) do |f| %>
  <span id="err_span">
    <%= render "shared/errors" ,obj: @line %>
  </span>
  <div class="field form-group">
    <%= f.label :page_id %><br>
    <%= f.collection_select :page_id ,
      Page.all.order("date desc") , :id ,:page_label ,
      {prompt: true} , { class: "form-control"} %>
    <%= f.number_field :no , class: "num form-control"  %>
  </div>
  <div class="field">
    <%= f.label :item_id %><br>
    <%= f.collection_select :item_id ,
      Item.all, :id , :name ,
      :prompt => true %>
</div>
<div class="field">
  <%= f.label :mode_id %><br>
  <%= f.collection_select :mode_id ,
    Mode.all, :id , :name ,
    :prompt => true %>
  </div>
  <div class="field form-group">
    <%= label_tag "1セット kg / 回数:メモ" %><br>
    <% if @last3_line.present? %>
      <%= @last3_line.get_set_label(1) %><br>
    <% end %>
    <% if @last2_line.present? %>
      <%= @last2_line.get_set_label(1) %><br>
    <% end %>
    <% if @last_line.present? %>
      <%= @last_line.get_set_label(1) %><br>
    <% end %>
    <%= f.number_field :weight_1, class: "num form-control" ,step: 0.5  %>
    /<%= f.number_field :reps_1 , class: "num form-control"  ,step: 0.5%>
  <%= f.text_field :memo_1 ,class: "form-control"%>
  </div>
  <div class="field">
    <%= label_tag "2セット kg / 回数:メモ" %><br>
    <% if @last3_line.present? %>
      <%= @last3_line.get_set_label(2) %><br>
    <% end %>
    <% if @last2_line.present? %>
      <%= @last2_line.get_set_label(2) %><br>
    <% end %>
    <% if @last_line.present? %>
      <%= @last_line.get_set_label(2) %><br>
    <% end %>
    <%= f.number_field :weight_2, class: :num  ,step: 0.5%>
    /<%= f.number_field :reps_2 ,:class => :num ,step: 0.5%>
  <%= f.text_field :memo_2 %>
  </div>
  <div class="field">
    <%= label_tag "3セット kg / 回数:メモ" %><br>
    <% if @last3_line.present? %>
      <%= @last3_line.get_set_label(3) %><br>
    <% end %>
    <% if @last2_line.present? %>
      <%= @last2_line.get_set_label(3) %><br>
    <% end %>
    <% if @last_line.present? %>
      <%= @last_line.get_set_label(3) %><br>
    <% end %>
    <%= f.number_field :weight_3, class: :num  ,step: 0.5%>
    /<%= f.number_field :reps_3 ,:class => :num ,step: 0.5%>
  <%= f.text_field :memo_3 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<!--BUD DRY-->
<div class="pagination">
  <% if @next_line %>
    <%= link_to '次へ[' + @next_line.no.to_s + '.' + @next_line.item.part.name + ']' + @next_line.item.name , [:edit, @next_line] %> 
  <% else %>
    <a>最後です。</a>
  <% end %>
</div>
  <div class="field">
    <%= label_tag "4セット kg / 回数:メモ" %><br>
    <% if @last3_line.present? %>
      <%= @last3_line.get_set_label(4) %><br>
    <% end %>
    <% if @last2_line.present? %>
      <%= @last2_line.get_set_label(4) %><br>
    <% end %>
    <% if @last_line.present? %>
      <%= @last_line.get_set_label(4) %><br>
    <% end %>
    <%= f.number_field :weight_4, class: :num  ,step: 0.5%>
    /<%= f.number_field :reps_4 ,:class => :num ,step: 0.5%>
  <%= f.text_field :memo_4 %>
  </div>
  <div class="field">
    <%= label_tag "5セット kg / 回数:メモ" %><br>
    <% if @last3_line.present? %>
      <%= @last3_line.get_set_label(5) %><br>
    <% end %>
    <% if @last2_line.present? %>
      <%= @last2_line.get_set_label(5) %><br>
    <% end %>
    <% if @last_line.present? %>
      <%= @last_line.get_set_label(5) %><br>
    <% end %>
    <%= f.number_field :weight_5, class: :num  ,step: 0.5%>
    /<%= f.number_field :reps_5 ,:class => :num ,step: 0.5%>
  <%= f.text_field :memo_5 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
