<h1>行の編集</h1>

<div id="result"></div>
<p id="notice"><%= notice %></p>

<%= render 'form' %>

<%= form_for @line, method: :delete  do |f| %>
  <%= f.submit '削除', data:{ confirm: '削除していいですか？'} %>
<% end %>

<p> MAX POWER : <%= @line.this_max_reps %> </p>
<%= link_to 'Show', @line %> |
<%= link_to 'Back', lines_path %>
