<p id="notice"><%= notice %></p>

<p>
  <strong>Page:</strong>
  <%= @line.page %>
</p>

<p>
  <strong>No:</strong>
  <%= @line.no %>
</p>

<p>
  <strong>Item:</strong>
  <%= @line.item %>
</p>

<p>
  <strong>Mode:</strong>
  <%= @line.mode %>
</p>

<p>
  <strong>Weight 1:</strong>
  <%= @line.weight_1 %>
</p>

<p>
  <strong>Reps 1:</strong>
  <%= @line.reps_1 %>
</p>

<p>
  <strong>Memo 1:</strong>
  <%= @line.memo_1 %>
</p>

<p>
  <strong>Weight 2:</strong>
  <%= @line.weight_2 %>
</p>

<p>
  <strong>Reps 2:</strong>
  <%= @line.reps_2 %>
</p>

<p>
  <strong>Memo 2:</strong>
  <%= @line.memo_2 %>
</p>

<p>
  <strong>Weight 3:</strong>
  <%= @line.weight_3 %>
</p>

<p>
  <strong>Reps 3:</strong>
  <%= @line.reps_3 %>
</p>

<p>
  <strong>Memo 3:</strong>
  <%= @line.memo_3 %>
</p>

<p>
  <strong>Weight 4:</strong>
  <%= @line.weight_4 %>
</p>

<p>
  <strong>Reps 4:</strong>
  <%= @line.reps_4 %>
</p>

<p>
  <strong>Memo 4:</strong>
  <%= @line.memo_4 %>
</p>

<p>
  <strong>Weight 5:</strong>
  <%= @line.weight_5 %>
</p>

<p>
  <strong>Reps 5:</strong>
  <%= @line.reps_5 %>
</p>

<p>
  <strong>Memo 5:</strong>
  <%= @line.memo_5 %>
</p>

<p>
  <strong>Weight 6:</strong>
  <%= @line.weight_6 %>
</p>

<p>
  <strong>Reps 6:</strong>
  <%= @line.reps_6 %>
</p>

<p>
  <strong>Memo 6:</strong>
  <%= @line.memo_6 %>
</p>

<p>
  <strong>Weight 7:</strong>
  <%= @line.weight_7 %>
</p>

<p>
  <strong>Reps 7:</strong>
  <%= @line.reps_7 %>
</p>

<p>
  <strong>Memo 7:</strong>
  <%= @line.memo_7 %>
</p>

<p>
  <strong>Weight 8:</strong>
  <%= @line.weight_8 %>
</p>

<p>
  <strong>Reps 8:</strong>
  <%= @line.reps_8 %>
</p>

<p>
  <strong>Memo 8:</strong>
  <%= @line.memo_8 %>
</p>

<p>
  <strong>Weight 9:</strong>
  <%= @line.weight_9 %>
</p>

<p>
  <strong>Reps 9:</strong>
  <%= @line.reps_9 %>
</p>

<p>
  <strong>Memo 9:</strong>
  <%= @line.memo_9 %>
</p>

<p>
  <strong>Weight 0:</strong>
  <%= @line.weight_0 %>
</p>

<p>
  <strong>Reps 0:</strong>
  <%= @line.reps_0 %>
</p>

<p>
  <strong>Memo 0:</strong>
  <%= @line.memo_0 %>
</p>

<%= link_to 'Edit', edit_line_path(@line) %> |
<%= link_to 'Back', lines_path %>
