<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @condition.name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @condition.score %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @condition.memo %>
</p>

<%= link_to 'Edit', edit_condition_path(@condition) %> |
<%= link_to 'Back', conditions_path %>
