<h1>Dash Bord</h1>
<%= render "pages/page", page: @latest_page  %>
<%= high_chart("diet_chart", @diet_chart) %>
<%= high_chart("gym_chart", @gym_chart) %>
<%= high_chart("health_hour_chart",@health_hour_chart ) %>
<%= high_chart("health_water_chart", @health_water_chart) %>
<%= high_chart("health_feel_chart",@health_feel_chart ) %>
