<style>table th {text-align:center;} </style>
<p id="notice"><%= notice %></p>
<h1>ヒント推奨レベル 一覧</h1>
<table class="table table-striped"
style="text-align: right; width: 100%;">
<thead>
  <tr>
    <th>名称</th>
    <th>レート</th>
    <th></th>
  </tr>
</thead>

<tbody>
  <% @tip_recommendations.each do |tip_recommendation| %>
  <tr>
    <td><%= link_to tip_recommendation.name , admin_tip_recommendation_path(tip_recommendation)%></td>
    <td><%= tip_recommendation.rate %></td>
    <td>
      <%= link_to '参照', admin_tip_recommendation_path(tip_recommendation) ,class: "btn btn-default" %>
      <%= link_to '編集', edit_admin_tip_recommendation_path(tip_recommendation) ,class: "btn btn-default" %>
      <%= link_to '削除', admin_tip_recommendation_path(tip_recommendation), method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-default" %>
    </td>
  </tr>
  <% end %>
</tbody>
</table>

<br>

<%= link_to '新規作成', new_admin_tip_recommendation_path ,class: "btn btn-default" %>

<%= link_to '管理ページに戻る', admin_top_path %>
