<p id="notice"><%= notice %></p>

<h1>Listing Tip Recommendations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tip_recommendations.each do |tip_recommendation| %>
      <tr>
        <td><%= tip_recommendation.name %></td>
        <td><%= tip_recommendation.rate %></td>
        <td><%= link_to 'Show', tip_recommendation %></td>
        <td><%= link_to 'Edit', edit_tip_recommendation_path(tip_recommendation) %></td>
        <td><%= link_to 'Destroy', tip_recommendation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tip recommendation', new_tip_recommendation_path %>
