<p id="notice"><%= notice %></p>

<h1>トレーニング器具一覧</h1>
<div id="equipments">
  <% @equipment.each do |equipment| %>
    <div class="equipment" >
      <div class="viewr" >
          <%= equipment.id %>.
        <span class="body"><%= equipment.name %></span>
        <%= button_tag '編集' ,class: 'edit' ,type: :button %>
      </div>
      <div class="editor">
        <div>
          <%= button_tag 'キャンセル',class: 'cancel' , type: :button %>
        </div>
        <%= render 'form2' , equipment: equipment %>
      </div>
    </div>
  <% end %>
</div>
<%= link_to 'New Equipment', new_equipment_path %>
