<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><i class="fa fa-heartbeat fa-lg">Fit Note</i></a>
      <% if current_user %>
      <a class="navbar-brand" href="/pages/<%= Page.where('user_id=?',current_user.id).maximum(:id) %>/"><i class="fa fa-check-square-o fa-lg"></i></a>
      <a class="navbar-brand" href="/pages"><i class="fa fa-calendar fa-lg"></i></a>
      <a class="navbar-brand" href="/analysis"><i class="fa fa-bar-chart fa-lg"></i></a>
    <% end %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown" >
          <% if current_user %>
          <li><a href="/goals"><i class="fa fa-map-signs fa-lg"> 目標設定</i></a></li>
          <li><a href="/items"><i class="fa fa-gamepad fa-lg"> トレーニング種目</i></a></li>
          <li><a href="/foods"><i class="fa fa-cutlery fa-lg"> 食品</i></a></li>
          <% if current_user && current_user.administrator?  %>
            <li><a href="/admin"><i class="fa fa-cogs fa-lg"> 管理ページ</i></a></li>
          <% end %>
          <li class="divider"></li>
          <% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
    <table style="width:100%;" ><tr><td>
          <div id="user_nav">
            <% if current_user %>
            <%= image_tag current_user.icon , size: "24x24" %>
            <strong><%= current_user.name %></strong>!
            <i class="fa fa-user"></i>
            <%= link_to "Sign out", signout_path, id: "sign_out" %>
          <% else %>
            Sign in wtih
            <i class="fa fa-facebook-square"></i>
            <%= link_to "Facebook", "/auth/facebook", id: "sign_in" %>
            <i class="fa fa-user"></i>
            <%= link_to "home", "/", id: "sign_in_local" %>
          <% end %>
          </div>
        </td>
        <td style="text-align: right;">
          <div id="google_translate_element"></div>
          <script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'ja', includedLanguages: 'en,fr,ga,hi,it,ja,ko,ru,th,vi,zh-CN,zh-TW', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, multilanguagePage: true}, 'google_translate_element');
}
          </script>
          <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        </td></tr></table>
  </div><!-- /.container-fluid -->
</nav>
