<div class="alert alert-info" >
  <strong>
    <% if current_user %>
    <%= current_user.name %>さん!
  <% end %>
    <%= @greeting %></strong><br> 
  最後のページ記録から
=> <%= (Date.current - @latest_page.date).to_i %>日間 経過しています。
  <% if @latest_page.id != nil %>
<hr>
  <% if @goal %>
  <link type="text/css" rel="stylesheet" href="https://cdn.rawgit.com/knsv/mermaid/7.0.0/dist/mermaid.css" />
  <script src="https://cdn.rawgit.com/knsv/mermaid/7.0.0/dist/mermaid.min.js" ></script>
  今日は、「<strong><%= disp_date(Date.current) %></strong>」です。<br/>
  今回の目標は、<%= disp_short_date(@goal.start_date) %> -> <%= disp_short_date(@goal.end_date) %>
  ...<%= (Date.current - @goal.start_date).to_i %>日経過、あと<%= (@goal.end_date - Date.current).to_i %>日です。<br/>
  <p style="font-size:1.0em;color:black;"><%= raw @goal.memo_br %></p>
  <% else %>
    目標設定がありません。
  <% end %>
<% else %>
  まだトレーニングの記録がありません。
<% end %>
</div>
