<div style="text-align: left;">
  <h1 style="font-weight: normal" >We❤️ <br>Gym📖 </h1>
</div>
<%= render "welcome" %>
<div> 直近のトレーニング：<%= @latest_page.date.strftime("%Y/%m/%d(%a)") %>
</div>
<div class="pagination" style="text-align: left;">
  <%= link_to '新しいページを作成' , new_page_path %> 
</div>
<div class="pagination" style="text-align: left;">
  <%= link_to '直近のページに記録' , edit_page_path(@latest_page.id) %> 
</div>
<div class="pagination" style="text-align: left;">
  <%= link_to 'ページの一覧' , pages_path %> 
</div>
<div class="pagination" style="text-align: left;">
  <%= link_to 'トレーニングの分析' , analysis_index_path %> 
</div>
