<%= render 'shared/tipgrowl' %>
<%= render 'shared/welcomegrowl' %>
<p id="notice"><%= notice %></p>
<div style="text-align: left;">
  <h2 style="font-weight: normal" >
    <a href="/">GIVE UP OR GET UP</a>
  </h2>
</div>
<% if current_user %>
  <%= render "welcome" %>
  <div> 直近のページ：<%= l(@latest_page.date, format: :short_day) if @latest_page.id != nil %>
</div>
<% if @latest_page.id != nil %>
  <input type="button" value="直近のページ確認" class="btn btn-success btn-block" onclick="location.href='<%= page_path(@latest_page.id) %>'" />
<% end %>
<input type="button" value="新規作成" class="btn btn-primary btn-block" onclick="location.href='<%= new_page_path  %>'" />
<hr>
<% if @latest_page.id != nil %>
<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4" >
  <input type="button" value="直近のページ編集" class="btn btn-default btn-block" onclick="location.href='<%= edit_page_path(@latest_page.id)%>'" />
</div>
<% end %>
<% else %>
  Facebook アカウントでログインしてください。
  <br/>
  <%= link_to image_tag("facebook_signin.png") , "/auth/facebook", id: "sign_in" %>
  <br/>
  <br/
  Facebook でのログインができない場合は、メールとパスワードを入力してください
 <%= render "shared/login_form" %>
<% end %>
