<div style="text-align: left;">
  <h1 style="font-weight: normal" >We❤️ <br>Gym📖 </h1>
</div>
<%= render "welcome" %>
<div> 直近のトレーニング：<%= @latest_page.date.strftime("%Y/%m/%d(%a)") %>
</div>
<input type="button" value="新規作成" 
       class="btn btn-primary btn-block"
       onclick="location.href='<%= new_page_path  %>'" />
       <input type="button" value="記録" 
       class="btn btn-success btn-block"
       onclick="location.href='<%= page_path(@latest_page.id) %>'" />
       <input type="button" value="一覧"
       class="btn btn-info btn-block"
       onclick="location.href='<%= pages_path %>'" />
       <input type="button" value="分析" 
       class="btn btn-warning btn-block"
       onclick="location.href='<%= analysis_index_path %>'" />
       <input type="button" value="種目管理" 
       class="btn btn-danger btn-block"
       onclick="location.href='<%= items_path %>'" />
       <input type="button" value="growl" 
       class="btn btn-danger btn-block"
       onclick="$.growl({ title: 'Growl', message: 'The ' });" />
