<%= form_for(@page_selfy) do |f| %>
  <% if @page_selfy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page_selfy.errors.count, "error") %> prohibited this page_selfy from being saved:</h2>

      <ul>
      <% @page_selfy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :page_id %><br>
    <%= f.text_field :page_id %>
  </div>
  <div class="field">
    <%= f.label :data %><br>
    <%= f.text_field :data %>
  </div>
  <div class="field">
    <%= f.label :content_type %><br>
    <%= f.text_field :content_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
