<p id="notice"><%= notice %></p>

<h1>Listing Page Selfies</h1>

<table>
  <thead>
    <tr>
      <th>Page</th>
      <th>Data</th>
      <th>Content type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @page_selfies.each do |page_selfy| %>
      <tr>
        <td><%= page_selfy.page %></td>
        <td><%= page_selfy.data %></td>
        <td><%= page_selfy.content_type %></td>
        <td><%= link_to 'Show', page_selfy %></td>
        <td><%= link_to 'Edit', edit_page_selfy_path(page_selfy) %></td>
        <td><%= link_to 'Destroy', page_selfy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page selfy', new_page_selfy_path %>
