<%= form_for(@page,html:{class: "form-inline"}) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>
      <ul>
        <% @page.errors.full_messages.each do |message| %>
          <div class="alert alert-success" style="padding-left: 3em;">
            <%= message %>
          </div>
        <% end %>
      </ul>
    </div>
  <% end %>
<script type="text/javascript">
  var dispflag = 0;
  var disp_no = 1;
  var memo,carbo,fat,protein,vegetable;
  //食事メニューのエレメントを取得
  function get_food_element(p_no){
    memo = $("#page_diet_memo_" + disp_no );
    carbo = $("#page_carbohydrate_" + disp_no );
    fat = $("#page_fat_" + disp_no );
    protein = $("#page_protein_" + disp_no );
    vegetable = $("#page_vegetable_" + disp_no );
  }
  //文字列を数値で扱うように初期化
  function temp_reset(p_val){
    var temp = p_val; 
    if (temp.length > 0 ){ temp = Number(temp); }else{ temp = 0;}
    return temp;
  }
  //食事メニューと栄養素を追加する
  function food_add(p_no,p_name,p_carbohydrate,p_fat,p_protein,p_vegetable){
    get_food_element(p_no);
    var temp;
    //食事メニュの追加
    temp = memo.val(); if (temp.length > 0 ) { temp += "、"; }
    memo.val(temp + p_name); 
    //炭水化物の追加
    temp = temp_reset(carbo.val());
    carbo.val(temp + Number(p_carbohydrate) );
    //脂肪の追加
    temp = temp_reset(fat.val());
    fat.val(temp + Number(p_fat));
    //たんぱく質の追加
    temp = temp_reset(protein.val());
    protein.val(temp + Number(p_protein));
    //野菜の追加
    temp = temp_reset(vegetable.val());
    vegetable.val(temp + Number(p_vegetable));
    var mes = "選択したID" + p_no + " 食事NO" + disp_no + ":" + p_name;
    $.growl({ title: '追加しました', message: mes });
    $('#dialog').dialog('close');
  }
  //値のクリア
  function clear_food(p_no){
    get_food_element(p_no);
    memo.val("");
    carbo.val("");
    fat.val("");
    protein.val("");
    vegetable.val("");
  }
  //食事メニューを開く
  function select_food(p_no){
    disp_no = p_no;
    $('#dialog').dialog('open');
  }
//食事メニューのダイアログ定義
$(function() {
  $( "#dialog" ).dialog({
    autoOpen: false,
    modal: true,
    width: 440,
    height: 480,
    buttons: {
      "OK": function(){
        $(this).dialog('close');
      }
    }
  });
  //ボタンにイベントをバインドする
  $( "#food1" ).click(function(){ select_food(1) });
  $( "#food2" ).click(function(){ select_food(2) });
  $( "#food3" ).click(function(){ select_food(3) });
  $( "#food4" ).click(function(){ select_food(4) });
  $( "#food5" ).click(function(){ select_food(5) });
  $( "#food1_cl" ).click(function(){ clear_food(1) });
  $( "#food2_cl" ).click(function(){ clear_food(2) });
  $( "#food3_cl" ).click(function(){ clear_food(3) });
  $( "#food4_cl" ).click(function(){ clear_food(4) });
  $( "#food5_cl" ).click(function(){ clear_food(5) });
});
　</script>
  <div id="dialog" title="食事の一覧"> 
    <div style="overflow:scroll;">
      <table class="table table-striped" >
        <thead>
          <tr>
            <th>食事と栄養素</th>
          </tr>
        </thead>
        <tbody>
          <% @foods.each do |food| %>
            <tr>
              <td >
                <p id="food_<%= food.id %>" 
                   onClick="food_add(
                   '<%= food.id %>','<%= food.name %>','<%= food.carbohydrate %>'
                   ,'<%= food.fat %>','<%= food.protein %>',
                   '<%= food.vegetable %>');" >
                   <%= food.id  %>.<b><%= food.name %></b></br>
                   炭水化物：<%= food.carbohydrate %> 、脂肪：<%= food.fat %> 、たんぱく質：<%= food.protein %> 、野菜：<%= food.vegetable %> 、メモ：<%= food.diet_memo %>
              </p>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= check_box_tag "page[is_copy]" %>トレーニング記録をコピーする（種目と重量）<br>
  <div class="field" id="copy_page_id">
    <%= collection_select :copy_page,:id  ,
      Page.all.order("date desc") , :id ,:page_label, 
      {prompt: true} , { class: "form-control"} %>
</div>

<div class="field">
  <%= f.label :date %><br>
  <%= f.date_select :date , { class: "form-control"} %>
</div>
<div class="field">
  <%= f.label :place %><br>
  <%= f.text_field :place , { class: "form-control"} %>
</div>
<div class="field">
  <%= f.label :start_time %>
  <%= f.time_select :start_time , { class: "form-control"} %>
  &nbsp;=>&nbsp;
  <%= f.label :end_time %>
  <%= f.time_select :end_time , { class: "form-control"} %>
  <%= f.label :training_hour %>[h]
  <%= f.number_field :training_hour,  class: "form-control" ,style: "width:6em;" ,step: 0.25%>
</div>
<div class="field">
  <%= f.label :memo %><br>
  <%= f.text_area :memo , { class: "form-control",cols: 5,rows: 5,style: "width:100%;"} %>
</div>
<div class="field">
  <%= f.label :diet_id %><br>
  <%= f.collection_select :diet_id ,
    Diet.all.order(:id), :id , :name ,
    {prompt: true} , { class: "form-control"} %>
  </div>
  <div class="field btn-info" >
    <%= f.label :diet_memo_1 %>
    <button type="button" id="food1" class="field btn-danger" > 食事の選択 </button>
    <button type="button" id="food1_cl" class="field btn-danger" > クリア </button>
    <%= f.text_field :diet_memo_1 , { class: "form-control" ,style: "width:100%;"} %>
    <%= f.label :carbohydrate_1 %>[g]
    <%= f.number_field :carbohydrate_1 , class: "form-control" ,style: "width:6em;" ,step: 0.5, pattern: "\d*" %>
    <%= f.label :fat_1 %>[g]
    <%= f.number_field :fat_1 ,  class: "form-control" ,style: "width:6em;" ,step: 0.5, pattern: "\d*" %>
    <%= f.label :protein_1 %>[g]
    <%= f.number_field :protein_1 ,  class: "form-control" ,style: "width:6em;" ,step: 0.5, pattern: "\d*" %>
    <%= f.label :vegetable_1 %>[g]
    <%= f.number_field :vegetable_1 ,  class: "form-control" ,style: "width:6em;" ,step: 0.5, pattern: "\d*" %>
  </div>
  <div class="field btn-success" >
    <%= f.label :diet_memo_2 %>
    <button type="button" id="food2" class="field btn-danger" > 食事の選択 </button>
    <button type="button" id="food2_cl" class="field btn-danger" > クリア </button>
    <%= f.text_field :diet_memo_2 , { class: "form-control",style: "width:100%;"} %>
    <%= f.label :carbohydrate_2 %>[g]
    <%= f.number_field :carbohydrate_2 , class: "form-control" ,style: "width:6em;"  ,step: 0.5, pattern: "\d*" %>
    <%= f.label :fat_2 %>[g]
    <%= f.number_field :fat_2 ,  class: "form-control" ,style: "width:6em;"  ,step: 0.5, pattern: "\d*" %>
    <%= f.label :protein_2 %>[g]
    <%= f.number_field :protein_2 ,  class: "form-control" ,style: "width:6em;"  ,step: 0.5, pattern: "\d*" %>
    <%= f.label :vegetable_2 %>[g]
    <%= f.number_field :vegetable_2 ,  class: "form-control" ,style: "width:6em;"  ,step: 0.5, pattern: "\d*" %>
  </div>
  <div class="field btn-info" >
    <%= f.label :diet_memo_3 %>
    <button type="button" id="food3" class="field btn-danger" > 食事の選択 </button>
    <button type="button" id="food3_cl" class="field btn-danger" > クリア </button>
    <%= f.text_field :diet_memo_3 , { class: "form-control",style: "width:100%;"} %>
    <%= f.label :carbohydrate_3 %>[g]
    <%= f.number_field :carbohydrate_3 , class: "form-control" ,style: "width:6em;"  ,step: 0.5, pattern: "\d*" %>
    <%= f.label :fat_3 %>[g]
    <%= f.number_field :fat_3 ,  class: "form-control" ,style: "width:6em;"  ,step: 0.5, pattern: "\d*" %>
    <%= f.label :protein_3 %>[g]
    <%= f.number_field :protein_3 ,  class: "form-control" ,style: "width:6em;"  ,step: 0.5, pattern: "\d*" %>
    <%= f.label :vegetable_3 %>[g]
    <%= f.number_field :vegetable_3 ,  class: "form-control" ,style: "width:6em;"  ,step: 0.5, pattern: "\d*" %>
  </div>
  <div class="field btn-success" >
    <%= f.label :diet_memo_4 %>
    <button type="button" id="food4" class="field btn-danger" > 食事の選択 </button>
    <button type="button" id="food4_cl" class="field btn-danger" > クリア </button>
    <%= f.text_field :diet_memo_4 , { class: "form-control",style: "width:100%;"} %>
    <%= f.label :carbohydrate_4 %>[g]
    <%= f.number_field :carbohydrate_4 , class: "form-control" ,style: "width:6em;"  ,step: 0.5, pattern: "\d*" %>
    <%= f.label :fat_4 %>[g]
    <%= f.number_field :fat_4 ,  class: "form-control" ,style: "width:6em;"  ,step: 0.5, pattern: "\d*" %>
    <%= f.label :protein_4 %>[g]
    <%= f.number_field :protein_4 ,  class: "form-control" ,style: "width:6em;"  ,step: 0.5, pattern: "\d*" %>
    <%= f.label :vegetable_4 %>[g]
    <%= f.number_field :vegetable_4 ,  class: "form-control" ,style: "width:6em;"  ,step: 0.5, pattern: "\d*" %>
  </div>
  <div class="field btn-info" >
    <%= f.label :diet_memo_5 %>
    <button type="button" id="food5" class="field btn-danger" > 食事の選択 </button>
    <button type="button" id="food5_cl" class="field btn-danger" > クリア </button>
    <%= f.text_field :diet_memo_5 , { class: "form-control",style: "width:100%;"} %>
    <%= f.label :carbohydrate_5 %>[g]
    <%= f.number_field :carbohydrate_5 , class: "form-control" ,style: "width:6em;"  ,step: 0.5, pattern: "\d*" %>
    <%= f.label :fat_5 %>[g]
    <%= f.number_field :fat_5 ,  class: "form-control" ,style: "width:6em;"  ,step: 0.5, pattern: "\d*" %>
    <%= f.label :protein_5 %>[g]
    <%= f.number_field :protein_5 ,  class: "form-control" ,style: "width:6em;"  ,step: 0.5, pattern: "\d*" %>
    <%= f.label :vegetable_5 %>[g]
    <%= f.number_field :vegetable_5 ,  class: "form-control" ,style: "width:6em;"  ,step: 0.5, pattern: "\d*" %>
  </div>
    <div class="field">
      <%= f.label :condition %><br>
      <%= f.collection_select :condition_id ,
        Condition.all.order(:id), :id , :name ,
        {prompt: true} , { class: "form-control"} %>
  </div>
  <div class="field">
    <%= f.label :feeling %><br>
    <%= f.collection_select :feeling_id ,
      Feeling.all.order(:id), :id , :name ,
      {prompt: true} , { class: "form-control"} %>
</div>
<div class="field btn-warning" >
  <%= f.label :sleep_hour %>[h]
  <%= f.number_field :sleep_hour , class: "form-control" ,style: "width:6em;" ,step: 0.5, pattern: "\d*" %>
  <%= f.label :sleep_time %>
  <%= f.time_select :sleep_time , { class: "form-control"} %>
  <br>
  <%= f.label :water %>[g]
  <%= f.number_field :water , class: "form-control" ,style: "width:8em;" ,step: 0.5, pattern: "\d*" %>
  <br>
  <%= f.label :alcohol %>[g]
  <%= f.number_field :alcohol,  class: "form-control" ,style: "width:6em;" ,step: 0.5, pattern: "\d*" %>
  <%= f.label :caffeine %>[g]
  <%= f.number_field :caffeine ,  class: "form-control" ,style: "width:6em;" ,step: 0.5, pattern: "\d*" %>
  <br>
  <%= f.label :work_hour %>[h]
  <%= f.number_field :work_hour ,  class: "form-control" ,style: "width:6em;" ,step: 0.5, pattern: "\d*" %>
  <%= f.label :study_hour %>[h]
  <%= f.number_field :study_hour,  class: "form-control" ,style: "width:6em;" ,step: 0.5, pattern: "\d*" %>
  <%= f.label :tv_hour %>[h]
  <%= f.number_field :tv_hour,  class: "form-control" ,style: "width:6em;" ,step: 0.5, pattern: "\d*" %>
  <br>
  <%= f.label :wight %>[kg]
  <%= f.number_field :wight ,  class: "form-control" ,style: "width:6em;" ,step: 0.5, pattern: "\d*" %>
  <%= f.label :body_fat_per %>[%]
  <%= f.number_field :body_fat_per ,  class: "form-control" ,style: "width:6em;" ,step: 0.1, pattern: "\d*" %>
</div>
<div class="field">
  <%= f.label :body_size_neck%>[cm]
  <%= f.number_field :body_size_neck ,  class: "form-control" ,style: "width:6em;" ,step: 0.1, pattern: "\d*" %>
</div>
<div class="field">
  <%= f.label :body_size_bust%>[cm]
  <%= f.number_field :body_size_bust ,  class: "form-control" ,style: "width:6em;" ,step: 0.1, pattern: "\d*" %>
</div>
<div class="field">
  <%= f.label :body_size_waist%>[cm]
  <%= f.number_field :body_size_waist ,  class: "form-control" ,style: "width:6em;" ,step: 0.1, pattern: "\d*" %>
</div>
<div class="field">
  <%= f.label :body_size_hip %>[cm]
  <%= f.number_field :body_size_hip ,  class: "form-control" ,style: "width:6em;" ,step: 0.1, pattern: "\d*" %>
</div>
<div class="field">
  <%= f.label :body_size_arm_right %>[cm]
  <%= f.number_field :body_size_arm_right ,  class: "form-control" ,style: "width:6em;" ,step: 0.1, pattern: "\d*" %>
  <%= f.label :body_size_arm_left %>[cm]
  <%= f.number_field :body_size_arm_left ,  class: "form-control" ,style: "width:6em;" ,step: 0.1, pattern: "\d*" %>
</div>
<div class="field">
  <%= f.label :body_size_leg_right %>[cm]
  <%= f.number_field :body_size_leg_right ,  class: "form-control" ,style: "width:6em;" ,step: 0.1, pattern: "\d*" %>
  <%= f.label :body_size_leg_left %>[cm]
  <%= f.number_field :body_size_leg_left ,  class: "form-control" ,style: "width:6em;" ,step: 0.1, pattern: "\d*" %>
</div>
<div class="field">
  <%= f.label :body_size_calf_right %>[cm]
  <%= f.number_field :body_size_calf_right ,  class: "form-control" ,style: "width:6em;" ,step: 0.1, pattern: "\d*" %>
  <%= f.label :body_size_calf_left %>[cm]
  <%= f.number_field :body_size_calf_left ,  class: "form-control" ,style: "width:6em;" ,step: 0.1, pattern: "\d*" %>
</div>
<div class="field">
  <%= f.label :image %><br>
  <%= f.text_field :image , { class: "form-control"} %>
</div>
<div class="actions">
  <%= f.submit class: "btn btn-primary btn-block" %>
</div>
<% end %>
