<%= form_for(@page,html:{class: "form-inline"}) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
<div class="alert alert-success" style="padding-left: 3em;">
       <%= message %>
</div>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= check_box_tag "page[is_copy]" %>トレーニング記録をコピーする（種目と重量）<br>
  <div class="field" id="copy_page_id">
    <%= collection_select :copy_page,:id  ,
      Page.all.order("date desc") , :id ,:page_label, 
      {prompt: true} , { class: "form-control"} %>
  </div>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date , { class: "form-control"} %>
  </div>
  <div class="field">
    <%= f.label :place %><br>
    <%= f.text_field :place , { class: "form-control"} %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.time_select :start_time , { class: "form-control"} %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.time_select :end_time , { class: "form-control"} %>
  </div>
  <div class="field">
    <%= f.label :memo %><br>
    <%= f.text_area :memo , { class: "form-control",cols: 5,style: "width:100%;"} %>
  </div>
  <div class="field">
    <%= f.label :diet_id %><br>
    <%= f.collection_select :diet_id ,
      Diet.all.order(:id), :id , :name ,
      {prompt: true} , { class: "form-control"} %>
  </div>
  <div class="field btn-info" >
    <%= f.label :diet_memo_1 %>
    <%= f.text_field :diet_memo_1 , { class: "form-control" ,style: "width:100%;"} %>
    <%= f.label :carbohydrate_1 %>[g]
    <%= f.number_field :carbohydrate_1 , class: "form-control" ,style: "width:6em;" ,step: 0.5%>
    <%= f.label :fat_1 %>[g]
    <%= f.number_field :fat_1 ,  class: "form-control" ,style: "width:6em;" ,step: 0.5%>
    <%= f.label :protein_1 %>[g]
    <%= f.number_field :protein_1 ,  class: "form-control" ,style: "width:6em;" ,step: 0.5%>
    <%= f.label :vegetable_1 %>[g]
    <%= f.number_field :vegetable_1 ,  class: "form-control" ,style: "width:6em;" ,step: 0.5%>
  </div>
  <div class="field btn-success" >
    <%= f.label :diet_memo_2 %>
    <%= f.text_field :diet_memo_2 , { class: "form-control",style: "width:100%;"} %>
    <%= f.label :carbohydrate_2 %>[g]
    <%= f.number_field :carbohydrate_2 , class: "form-control" ,style: "width:6em;"  ,step: 0.5%>
    <%= f.label :fat_2 %>[g]
    <%= f.number_field :fat_2 ,  class: "form-control" ,style: "width:6em;"  ,step: 0.5%>
    <%= f.label :protein_2 %>[g]
    <%= f.number_field :protein_2 ,  class: "form-control" ,style: "width:6em;"  ,step: 0.5%>
    <%= f.label :vegetable_2 %>[g]
    <%= f.number_field :vegetable_2 ,  class: "form-control" ,style: "width:6em;"  ,step: 0.5%>
  </div>
  <div class="field btn-info" >
    <%= f.label :diet_memo_3 %>
    <%= f.text_field :diet_memo_3 , { class: "form-control",style: "width:100%;"} %>
    <%= f.label :carbohydrate_3 %>[g]
    <%= f.number_field :carbohydrate_3 , class: "form-control" ,style: "width:6em;"  ,step: 0.5%>
    <%= f.label :fat_3 %>[g]
    <%= f.number_field :fat_3 ,  class: "form-control" ,style: "width:6em;"  ,step: 0.5%>
    <%= f.label :protein_3 %>[g]
    <%= f.number_field :protein_3 ,  class: "form-control" ,style: "width:6em;"  ,step: 0.5%>
    <%= f.label :vegetable_3 %>[g]
    <%= f.number_field :vegetable_3 ,  class: "form-control" ,style: "width:6em;"  ,step: 0.5%>
  </div>
  <div class="field btn-success" >
    <%= f.label :diet_memo_4 %>
    <%= f.text_field :diet_memo_4 , { class: "form-control",style: "width:100%;"} %>
    <%= f.label :carbohydrate_4 %>[g]
    <%= f.number_field :carbohydrate_4 , class: "form-control" ,style: "width:6em;"  ,step: 0.5%>
    <%= f.label :fat_4 %>[g]
    <%= f.number_field :fat_4 ,  class: "form-control" ,style: "width:6em;"  ,step: 0.5%>
    <%= f.label :protein_4 %>[g]
    <%= f.number_field :protein_4 ,  class: "form-control" ,style: "width:6em;"  ,step: 0.5%>
    <%= f.label :vegetable_4 %>[g]
    <%= f.number_field :vegetable_4 ,  class: "form-control" ,style: "width:6em;"  ,step: 0.5%>
  </div>
  <div class="field btn-info" >
    <%= f.label :diet_memo_5 %>
    <%= f.text_field :diet_memo_5 , { class: "form-control",style: "width:100%;"} %>
    <%= f.label :carbohydrate_5 %>[g]
    <%= f.number_field :carbohydrate_5 , class: "form-control" ,style: "width:6em;"  ,step: 0.5%>
    <%= f.label :fat_5 %>[g]
    <%= f.number_field :fat_5 ,  class: "form-control" ,style: "width:6em;"  ,step: 0.5%>
    <%= f.label :protein_5 %>[g]
    <%= f.number_field :protein_5 ,  class: "form-control" ,style: "width:6em;"  ,step: 0.5%>
    <%= f.label :vegetable_5 %>[g]
    <%= f.number_field :vegetable_5 ,  class: "form-control" ,style: "width:6em;"  ,step: 0.5%>
  </div>
  <div style="border-width:2px" > 基本食:<br/>
    ご飯１６０g＝＞炭水化物６０g<br/>
    とりmomo肉１００g＝＞たんぱく質１８g、脂質4g<br/>
    とり胸肉１００g＝＞たんぱく質２０g、脂質１０g<br/>
    とりササミ１００g＝＞たんぱく質２０g、脂質０g<br/>
    ブロッコリー１００g＝＞ビタミンC、K、E、葉酸、B、カルシウム、マグネシウム、スルスラフォン、、、<br/>
    アボカド１００g＝＞20%油だけど。オメガ9（オレイン酸）やリノール酸、リノレン酸<br/>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image , { class: "form-control"} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
