<%= render 'shared/tipgrowl' %>
<% # FixdeMenu VVV####### %>
<style>
html {
  position: relative;
  min-height: 100%;
}
  body {
    /* Margin bottom by footer height */
    margin-bottom: 40px;
  }
  .footer {  /*<footer class="footer">*/
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #f5f5f5;
  }
  .footer-fixed .fixbar{
    /*display:none;*/
    /*position: fixed;*/
    background-color:#f5f5f5;
    top: 0;
    width: 100%;
    height: ;
    padding-top:6px;
    padding-bottom:6px;
  }
  .footer-fixed .fixbar a{
    padding-top:6px;
    padding-bottom:6px;
  }
</style>
<% # FixdeMenu AAA####### %>
<%= render 'page_nav' %>
<div class= "<%= @page_class %> note-index" >
  <table style="vertical-align:baseline" >
    <tr>
      <td style="font-weight:bold;font-size:1.5em;">
        <input type="button" class="btn btn-default mini-size" style="display:<%= "none" unless @show %>"
  <% if @prev_page %>
     value="<%= '前へ ' + disp_date( @prev_page.date) %>"
     onclick="location.href='/pages/<%= @prev_page.id %>' "
  <% else %>
     value=""
  <% end %>
  />
  <% if page.date.strftime("%W").to_i.remainder(2) == 1
             week_class = 'success'
        else
          week_class = 'info'
        end %>
  <button type="button" class="btn btn-<%= week_class %> "
                        onClick="location.href='/pages/<%= page.id  %>'">
                        <%= disp_date(page.date) + page.mweek %>
  </button>
  &nbsp;&nbsp;<%= page.place %>
<% if page.training_hour.to_f > 0  %>
  &nbsp;<%= page.start_time.strftime("%H:%M") %> ~ <%= page.end_time.strftime("%H:%M") %>
&nbsp;<%= page.training_hour.to_f %>[h]
    <% end %>
    <% if current_user == page.user %>
      <button type="button" class="btn btn-default " onClick="location.href='/pages/<%= page.id  %>/edit/'"> 編 集 </button>
      <% end %>
  <input type="button" class="btn btn-default mini-size" style="display:<%= "none" unless @show %>"

  <% if @next_page %>
     value="<%= '次へ ' +disp_date( @next_page.date) %>"
     onclick="location.href='/pages/<%= @next_page.id %>' "
  <% else %>
     value="最後です。 新規作成"
     onclick="location.href='/pages/new' "
  <% end %>
  />
      </td>
    </tr>
    <tr>
      <td>
        <p style="font-weight:bold;font-size:1.25em;">
        <%= page.wight %> kg ,  <%= page.body_fat_per %> % ->  (<%= page.not_fat_weight %> kg)
        <%= page.user.name if page.user %>
        </p>
        <%= page_image_tag page, height: @show ? 480 : 128 , class: "hidari picture" %>
        <%= page_selfy_tag page, height: @show ? 480 : 128 , class: " picture" %>
        <p style="font-size:1.0em;color:black;"><%= raw page.memo_br %></p>
      </td>
    </tr>
  </table>
  <span id="diet-line"></span>
  <%= render 'page_nav' %>
  <div class="note" >
    <% if @disp_other_is %>
      <% if @show %>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" >
        <% else %>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
            <% end %>
              <div class="diet-line" style="color:black;" >
                <%= raw page.diet_summaly %>
              </div>
              <div class="health-line" style="color:black;">
                <%= raw page.health_summaly %>
              </div>
            </div>
            <% end #if disp_other_is %>
            <% if @disp_mode != "hidden_training" %>
              <% if @show %>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" >
                <% else %>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                    <% end %>
                      <span id="training-line"></span>
                      <%= render 'page_nav' %>
                      <div class="training-line" >
                        <table class="table table-striped table-hover "
                               style="text-align: right; width: 100%;">
                          <thead>
                            <tr>
                              <th> No. 部位</th>
                              <th> No. トレーニング種目</th>
                              <th style="text-align: right;">1set</th>
                              <th style="text-align: right;">2set</th>
                              <th style="text-align: right;">3set</th>
                              <th style="text-align: right;">Max</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% page.lines.default.order(:id).each do |line| %>
                              <tr>
                                <td style="text-align: left;"><%= line.no %>.
                                  <% if current_user == page.user %>
                                    <%= link_to line.item.part.name , edit_line_path(line) %>
                                  <% else %>
                                    <%= line.item.part.name %>
                                  <% end %>
                                </td>
                                <td style="text-align: left;"><%= line.no %>.
                                  <% if current_user == page.user %>
                                    <%= link_to line.item.name , edit_line_path(line) %>
                                  <% else %>
                                    <%= line.item.name %>
                                  <% end %>
                                </td>
                                <td><%= line.weight_1 %><br>/<%= line.reps_1 %></td>
                                <td><%= line.weight_2 %><br>/<%= line.reps_2 %></td>
                                <td><%= line.weight_3 %><br>/<%= line.reps_3 %></td>
                                <td style="font-weight:bold;"><%= line.this_max_reps %></td>
                              </tr>
                            <% end %>
                            <tr>
                              <td colspan="7"
                                  style="text-align: left; width: 100%;">
                                <% if current_user == page.user %>
                                  <%= link_to '行を追加する。', new_page_line_path(page) %>||
                                <% end %>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <% end #if hidden_training %>
                </div>
                <div class="chart col-xs-12 col-sm-6 col-md-6 col-lg-6" >
                  <span id="piechart"></span>
                  <%= render 'page_nav' %>
                  <%= high_chart( "chart_diet_"+page.id.to_s , @chart_pie_diets_index[page.id]) %>
                </div>
                <% if page.lines.size > 0 %>
                  <div class="chart col-xs-12 col-sm-6 col-md-6 col-lg-6" >
                    <%= high_chart( "chart_part_"+page.id.to_s , @chart_pie_parts_index[page.id]) %>
                  </div>
                <% end %>
                <div class="chart col-xs-12 col-sm-6 col-md-6 col-lg-6" >
                  <span id='barchart'></span>
                  <%= render 'page_nav' %>
                  <%= high_chart( "chart_health_"+page.id.to_s , @chart_healths_index[page.id]) %>
                </div>
                <div class="chart col-xs-12 col-sm-6 col-md-6 col-lg-6" >
                  <%= high_chart( "chart_water_"+page.id.to_s , @chart_waters_index[page.id]) %>
                </div>
        </div>
