<% if @show %>
<div class="footer-fixed" style="z-index:99999999;">
  <div class="fixbar" >
    <span> </span>
    <%= link_to " " , "#notice" , class: "btn btn-default fa fa-eye" %>
    <%= link_to " " , "#diet-line" , class: "btn btn-default fa fa-cutlery" %>
    <%= link_to " " , "#training-line" , class: "btn btn-default fa fa-hand-rock-o" %>
    <%= link_to " " , "#piechart" , class: "btn btn-default fa fa-pie-chart" %>
    <%= link_to " " , "#barchart" , class: "btn btn-default fa fa-coffee" %>
    <span> </span>
  </div>
</div>
<% end %>
