    <td style="text-align: left; width: 5em;" >
      <%
        if page.date.strftime("%W").to_i.remainder(2) == 1
            week_class = 'success'
        else
            week_class = 'info'
        end
      %>
    <button type="button" class="btn btn-<%= week_class %> "
                          onClick="location.href='/pages/<%= page.id  %>'">
                          <%= disp_short_date(page.date) %>
    </button>
      <%= page.wight %> kg ,  <%= page.body_fat_per %> % ->  (<%= page.not_fat_weight %> kg)
    </td>
