<table class="table table-striped" >
  <tr>
    <td style="text-align: left; width: 5em;" >
      <%
        if page.date.strftime("%W").to_i.remainder(2) == 1
            week_class = 'success'
        else
            week_class = 'info'
        end
      %>
    <button type="button" class="btn btn-<%= week_class %> "
                          onClick="location.href='/pages/<%= page.id  %>'">
                          <%= disp_short_date(page.date) %>
    </button>
    </td>
    <td style="text-align: right; width: 8em; ">
      &nbsp;&nbsp;<%= page.place %>
    <% if page.training_hour.to_f > 0  %>
      &nbsp;<%= page.training_hour.to_f %>[h]
    <% end %>
    </td>
    <td style="text-align: right; width: 18em;">
      <%= page.wight %> kg ,  <%= page.body_fat_per %> % ->  (<%= page.not_fat_weight %> kg)
    </td>
    <td></td>
  </tr>
  <tr>
    <td colspan="4" style="text-align: left; width: 20em; ">
      <p style="font-size:1.0em;color:black;"><%= page.memo.slice(0,100)  %></p>
    </td>
  </tr>
</table>
