<p id="notice"><%= notice %></p>
<h1>ノート</h1>
<%= form_for @search_form , :url => pages_path, :remote => true, :html => {:method => :get} do |f| %>
  <%= f.search_field :q %>
  <%= f.submit '検索' %>
<% end %>
<button type="button" class="btn btn-primary mini-size"
        onClick="location.href='/pages/new'">コピーまたは、新規で新しいページを作る。</button>
<div id="pages"><%= render @pages %></div>
<%= will_paginate @pages %>
<hr>  
<%= form_tag import_pages_path, multipart: true do %>
<button type="button" class="btn btn-info hundred"
        onClick="location.href='/pages.json'">ページデータ JOSN エクスポート</button>
  <%= file_field_tag :file ,class: "btn btn-default hundred" %>
  <%= submit_tag "ページデータ JSON インポート", class: "btn btn-warning hundred" %>
<% end %>
<hr>
<%= form_tag import_lines_path, multipart: true do %>
<button type="button" class="btn btn-info hundred"
        onClick="location.href='/lines.json'">行データ JOSN エクスポート</button>
  <%= file_field_tag :file ,class: "btn btn-default hundred" %>
  <%= submit_tag "行データ JSON インポート", class: "btn btn-warning hundred" %>
<% end %>
