<p id="notice"><%= notice %></p>
<h1>ノート <%= @disp_mode  %></h1>
<ul class="nav nav-tabs">
  <li class="nav-item" ><a class="nav-link bg-info" 
 href="/pages/training_only">トレーニングだけ</a></li>
  <li class="nav-item" ><a class="nav-link bg-info"
   href="/pages/selfy_only">セルフィだけ</a></li>
  <li class="nav-item" ><a class="nav-link bg-info" 
  href="/pages/show_pic">詳細</a></li>
  <li class="nav-item" ><a class="nav-link bg-info" 
  href="/pages">シンプル</a></li>
</ul>
<%= form_tag "", method: :get do %>

  <p>
    <%= label_tag "start_day","開始日" %>
    <%= date_field_tag "start_day", params[:start_day] %>
    <%= label_tag "end_day","終了日" %>
    <%= date_field_tag "end_day", params[:end_day] %>
    
    ページの表示条件[
      <%= label_tag "scope_all"," すべて" %>
      <%= radio_button_tag "scope","all", params[:scope].eql?("all") %>,
      <% if request.path_info == "/pages/training_only" %>
        <%= label_tag "scope_startend"," ジムだけ" %>
        <%= radio_button_tag "scope","gym", params[:scope].eql?("gym")  %>,
        <%= label_tag "scope_startend"," 家だけ" %>
        <%= radio_button_tag "scope","home", params[:scope].eql?("home")  %>,
      <% end %>
      <%= label_tag "scope_startend"," 最初と最後" %>
      <%= radio_button_tag "scope","startend", params[:scope].eql?("startend")  %>
    ]
    &nbsp;
    <%= submit_tag "検索" ,class: "btn btn-default" %>
  </p>
<% end %>
<button type="button" class="btn btn-primary"
        onClick="location.href='/pages/new'">新しいページを作る。</button>
 <%= check_box_tag "page[hidden_picture]" ,true , @show_picture %> 画像表示
 <%= check_box_tag "page[hidden_lines]",true, @show_detail %> トレーニング内容表示 
 <%= check_box_tag "page[hidden_chart]" ,true , @show_chart %> グラフ表示
 <div id="pages" class="row" >
   <% if @selfy_only %>
     <% @pages.each do |page| %>
       <%= render 'selfy_page' , page: page %>
     <% end %>
   <% elsif @simple_page %>
     <% @pages.each do |page| %>
       <%= render 'simple_page' , page: page %>
     <% end %>
   <% else %>    
     <%= render @pages %>
 <% end %>
 </div>
<% if params[:scope] != "startend" %>
  <%= will_paginate @pages %>
<% end %>
