<p id="notice"><%= notice %></p>

<h1>ノート</h1>
<%= form_for @search_form , :url => pages_path, :remote => true, :html => {:method => :get} do |f| %>
  <%= f.search_field :q %>
  <%= f.submit '検索' %>
<% end %>
<div class="pagination">
  <%= link_to 'コピーまたは、新規で新しいページを作る。', new_page_path %>
</div>
<div id="pages"><%= render @pages %></div>
<%= will_paginate @pages %>
<hr>  
<%= form_tag import_pages_path, multipart: true do %>
  <p>
  <%= link_to "Download Pages JSON", pages_path(format: "json") %>
  </p>
  <%= file_field_tag :file %>
  <%= submit_tag "Pages JSON インポート" %>
<% end %>
<hr>
<%= form_tag import_lines_path, multipart: true do %>
  <p>
  <%= link_to "Download Lines JSON", lines_path(format: "json") %>
  </p>
  <%= file_field_tag :file %>
  <%= submit_tag "Lines JSON インポート" %>
<% end %>
