<p id="notice"><%= notice %></p>
 <%= check_box_tag "page[hidden_picture]" ,true , true %> 画像表示
 <%= check_box_tag "page[hidden_lines]",true, true %> トレーニング内容表示 
 <%= check_box_tag "page[hidden_chart]" ,true , true %> グラフ表示
: <%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
<div id="pages"><%= render @page %></div>
