<p id="notice"><%= notice %></p>

<h1>Listing Tip Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tip_categories.each do |tip_category| %>
      <tr>
        <td><%= tip_category.name %></td>
        <td><%= link_to 'Show', tip_category %></td>
        <td><%= link_to 'Edit', edit_tip_category_path(tip_category) %></td>
        <td><%= link_to 'Destroy', tip_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tip category', new_tip_category_path %>
