<%= form_for(@food) do |f| %>
  <% if @food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% @food.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :diet_id %><br>
    <%= f.text_field :diet_id %>
  </div>
  <div class="field">
    <%= f.label :calorie %><br>
    <%= f.text_field :calorie %>
  </div>
  <div class="field">
    <%= f.label :carbohydrate %><br>
    <%= f.text_field :carbohydrate %>
  </div>
  <div class="field">
    <%= f.label :fat %><br>
    <%= f.text_field :fat %>
  </div>
  <div class="field">
    <%= f.label :protein %><br>
    <%= f.text_field :protein %>
  </div>
  <div class="field">
    <%= f.label :vegetable %><br>
    <%= f.text_field :vegetable %>
  </div>
  <div class="field">
    <%= f.label :diet_memo %><br>
    <%= f.text_field :diet_memo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
