<p id="notice"><%= notice %></p>

<h1>Listing Foods</h1>

<%= link_to 'New Food', new_food_path %>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>名称、カテゴリ、メモ</th>
      <th>sort_key</th>
      <th>栄養素</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= link_to food.id.to_s + "." + food.name, edit_food_path(food) %>
          <br><p style="color:green;">&nbsp;<%= food.disp_memo %></p>
        </td>
        <td><%= food.sort_key %></td>
        <td>
        <table border=1 style="text-align: right; width: 22em;">
          <thead><tr>
              <th>炭水化物:</th>
              <th>脂肪:</th>
              <th>たんぱく質:</th>
              <th> 野菜:</th></tr></thead>
          <tbody><tr>
              <td><%= food.carbohydrate %></td>
              <td><%= food.fat %></td>
              <td><%= food.protein %></td>
              <td><%= food.vegetable %></td>
        </td>
          </tbody></table>
          </td>
            </tr>
          <% end %>
  </tbody>
</table>

<br>

