<p id="notice"><%= notice %></p>

<h1>Listing Foods</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Diet</th>
      <th>Calorie</th>
      <th>Carbohydrate</th>
      <th>Fat</th>
      <th>Protein</th>
      <th>Vegetable</th>
      <th>Diet memo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.diet %></td>
        <td><%= food.calorie %></td>
        <td><%= food.carbohydrate %></td>
        <td><%= food.fat %></td>
        <td><%= food.protein %></td>
        <td><%= food.vegetable %></td>
        <td><%= food.diet_memo %></td>
        <td><%= link_to 'Show', food %></td>
        <td><%= link_to 'Edit', edit_food_path(food) %></td>
        <td><%= link_to 'Destroy', food, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Food', new_food_path %>
