<tr>
  <td><%= mode.name %></td>
  <td><%= mode.detail %></td>
  <td><%= link_to '参照', mode %></td>
  <td><%= link_to '編集', edit_mode_path(mode) %></td>
  <td><%= link_to 'Destroy', mode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
