<p id="notice"><%= notice %></p>

<h1>トレーニング方式一覧</h1>

<%= form_for @search_form , :url => modes_path, :remote => true, :html => {:method => :get} do |f| %>
  <%= f.search_field :q %>
  <%= f.submit '検索' %>
<% end %>

<table class="table table-striped"
       style="text-align: right; width: 100%;">
  <thead>
    <tr>
      <th>Name</th>
      <th>Detail</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody id = "modes">
    <%= render @modes %>
  </tbody>
</table>

<br>

<%= link_to 'New Mode', new_mode_path %>
