<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :reps %><br>
    <%= f.number_field :reps %>
  </div>
  <div class="field">
    <%= f.label :part_id %><br>
    <%= f.collection_select :part_id ,
      Part.all , :id,:name,
      :prompt => true %>
  </div>
  <div class="field">
    <%= f.label :mode_id %><br>
    <%= f.collection_select :mode_id,
      Mode.all, :id,:name,
      :prompt => true %>
  </div>
  <div class="field">
    <%= f.label :equipment_id %><br>
    <%= f.collection_select :equipment_id ,
      Equipment.all , :id , :name,
      :prompt => true
    %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
