<p id="notice"><%= notice %></p>

<h1>トレーニング種目一覧</h1>

<%= form_tag :search_items, method: :get do %>
  <p>
    <%= text_field_tag "q", params[:q] %>
    <%= submit_tag "検索" %>
  </p>
<% end %>

<table class="table table-striped"
       style="text-align: right; width: 100%;">
  <thead>
    <tr>
      <th>部位</th>
      <th>種目名称</th>
      <th>器具</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.part.name %></td>
        <td><%= item.name %></td>
        <td><%= item.equipment.name %></td>
        <td><%= link_to '詳細', item %></td>
        <td><%= link_to '編集', edit_item_path(item) %></td>
        <td><%= link_to '削除', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>

<hr>
<%= form_tag import_items_path, multipart: true do %>
  <p>
  <%= link_to "Download Items JSON", items_path(format: "json") %>
  </p>
  <%= file_field_tag :file %>
  <%= submit_tag "Items JSON インポート" %>
<% end %>
