<style type='text/css'>
	html, body {
		margin: 0; padding: 0;
	}
	body {
		font-family: sans-serif;
		text-align: center;
		font-size: small;
	}
	.life {
		border: 1px solid white;
		margin: 1px;
	}
	.week {
		display: inline-block;
		box-sizing: border-box;
		/*width: calc(100%/52);*/
        width: 3px;
		height: 7px; line-height: 1px;
		outline: 1px solid black;
		color: white;
        background-color: cyan;
		overflow: hidden;
	}
    .interactive {
		-webkit-transition: background-color 1s;
		transition: background-color 1s;
	}
	.clicked {
		background-color: #FA8E6D !important;
	}
	.paniced {
		background-color: #FF3300 !important;
	}
</style>

<h1>Your Life</h1>
<% if current_user %>
<div>
birthday:
 <%= current_user.birthday %>
</div>
 <% 
    diff =  Date.today - current_user.birthday
    lifepast = (diff/7).ceil.to_i   
    lifecount = 0
 %>
 <div>
 Past week:
 <%= lifepast %>
 </div>
 <div>
 Want ToDo Count:
 <%= current_user.want_to_dos.count %>
 </div>
<% end %>
<br>
<div class='life'>
<% for year in 0..80 %>
  <div class='year'>
  <span style="font-size:0.7rem;"  ><%= year %> : </span>
  <% for week in 0..52
     lifecount += 1
     if lifepast > lifecount 
       dispclass = "paniced"
       else
       if lifepast == lifecount
        dispclass = "clicked"
       end
       dispclass = ""
     end
   %>
    <div class='week <%= dispclass %> '></div>
  <% end %>
  </div>
<% end %>
</div>