<%= form_for(@goal) do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :memo %><br>
    <%= f.text_field :memo %>
  </div>
  <div class="field">
    <%= f.label :push_val1 %><br>
    <%= f.text_field :push_val1 %>
  </div>
  <div class="field">
    <%= f.label :push_val2 %><br>
    <%= f.text_field :push_val2 %>
  </div>
  <div class="field">
    <%= f.label :pull_val1 %><br>
    <%= f.text_field :pull_val1 %>
  </div>
  <div class="field">
    <%= f.label :pull_val2 %><br>
    <%= f.text_field :pull_val2 %>
  </div>
  <div class="field">
    <%= f.label :leg_val1 %><br>
    <%= f.text_field :leg_val1 %>
  </div>
  <div class="field">
    <%= f.label :leg_val2 %><br>
    <%= f.text_field :leg_val2 %>
  </div>
  <div class="field">
    <%= f.label :back_val1 %><br>
    <%= f.text_field :back_val1 %>
  </div>
  <div class="field">
    <%= f.label :back_val2 %><br>
    <%= f.text_field :back_val2 %>
  </div>
  <div class="field">
    <%= f.label :protein_val1 %><br>
    <%= f.text_field :protein_val1 %>
  </div>
  <div class="field">
    <%= f.label :protein_val2 %><br>
    <%= f.text_field :protein_val2 %>
  </div>
  <div class="field">
    <%= f.label :carbohydrate_val1 %><br>
    <%= f.text_field :carbohydrate_val1 %>
  </div>
  <div class="field">
    <%= f.label :carbohydrate_val2 %><br>
    <%= f.text_field :carbohydrate_val2 %>
  </div>
  <div class="field">
    <%= f.label :fat_val1 %><br>
    <%= f.text_field :fat_val1 %>
  </div>
  <div class="field">
    <%= f.label :fat_val2 %><br>
    <%= f.text_field :fat_val2 %>
  </div>
  <div class="field">
    <%= f.label :vegetable_val1 %><br>
    <%= f.text_field :vegetable_val1 %>
  </div>
  <div class="field">
    <%= f.label :vegetable_val2 %><br>
    <%= f.text_field :vegetable_val2 %>
  </div>
  <div class="field">
    <%= f.label :weight_val1 %><br>
    <%= f.text_field :weight_val1 %>
  </div>
  <div class="field">
    <%= f.label :fat_per_val1 %><br>
    <%= f.text_field :fat_per_val1 %>
  </div>
  <div class="field">
    <%= f.label :body_size_neck %><br>
    <%= f.text_field :body_size_neck %>
  </div>
  <div class="field">
    <%= f.label :body_size_bust %><br>
    <%= f.text_field :body_size_bust %>
  </div>
  <div class="field">
    <%= f.label :body_size_waist %><br>
    <%= f.text_field :body_size_waist %>
  </div>
  <div class="field">
    <%= f.label :body_size_hip %><br>
    <%= f.text_field :body_size_hip %>
  </div>
  <div class="field">
    <%= f.label :body_size_arm %><br>
    <%= f.text_field :body_size_arm %>
  </div>
  <div class="field">
    <%= f.label :body_size_leg_right %><br>
    <%= f.text_field :body_size_leg_right %>
  </div>
  <div class="field">
    <%= f.label :body_size_calf_right %><br>
    <%= f.text_field :body_size_calf_right %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
