<p id="notice"><%= notice %></p>

<h1>Listing Goals</h1>

<table class="table table-striped"
style="text-align: left; width: 100%;">
  <thead>
    <tr>
      <th>ユーザ</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>メモ</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @goals.each do |goal| %>
      <tr>
        <td><%= goal.user.name %></td>
        <td><%= goal.start_date %></td>
        <td><%= goal.end_date %></td>
        <td><%= goal.memo %></td>
    <td>
      <%= link_to '参照', goal_path(goal) ,class: "btn btn-default" %>
      <%= link_to '編集', edit_goal_path(goal) ,class: "btn btn-default" %>
      <%= link_to "copy", copy_goal_path(goal) ,class: "btn btn-default" %>
      <%= link_to '削除', goal_path(goal), method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-default" %>
    </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_goal_path ,class: "btn btn-default" %>
