<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @goal.user %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @goal.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @goal.end_date %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @goal.memo %>
</p>

<p>
  <strong>Push val1:</strong>
  <%= @goal.push_val1 %>
</p>

<p>
  <strong>Push val2:</strong>
  <%= @goal.push_val2 %>
</p>

<p>
  <strong>Pull val1:</strong>
  <%= @goal.pull_val1 %>
</p>

<p>
  <strong>Pull val2:</strong>
  <%= @goal.pull_val2 %>
</p>

<p>
  <strong>Leg val1:</strong>
  <%= @goal.leg_val1 %>
</p>

<p>
  <strong>Leg val2:</strong>
  <%= @goal.leg_val2 %>
</p>

<p>
  <strong>Back val1:</strong>
  <%= @goal.back_val1 %>
</p>

<p>
  <strong>Back val2:</strong>
  <%= @goal.back_val2 %>
</p>

<p>
  <strong>Protein val1:</strong>
  <%= @goal.protein_val1 %>
</p>

<p>
  <strong>Protein val2:</strong>
  <%= @goal.protein_val2 %>
</p>

<p>
  <strong>Carbohydrate val1:</strong>
  <%= @goal.carbohydrate_val1 %>
</p>

<p>
  <strong>Carbohydrate val2:</strong>
  <%= @goal.carbohydrate_val2 %>
</p>

<p>
  <strong>Fat val1:</strong>
  <%= @goal.fat_val1 %>
</p>

<p>
  <strong>Fat val2:</strong>
  <%= @goal.fat_val2 %>
</p>

<p>
  <strong>Vegetable val1:</strong>
  <%= @goal.vegetable_val1 %>
</p>

<p>
  <strong>Vegetable val2:</strong>
  <%= @goal.vegetable_val2 %>
</p>

<p>
  <strong>Weight val1:</strong>
  <%= @goal.weight_val1 %>
</p>

<p>
  <strong>Fat per val1:</strong>
  <%= @goal.fat_per_val1 %>
</p>

<p>
  <strong>Body size neck:</strong>
  <%= @goal.body_size_neck %>
</p>

<p>
  <strong>Body size bust:</strong>
  <%= @goal.body_size_bust %>
</p>

<p>
  <strong>Body size waist:</strong>
  <%= @goal.body_size_waist %>
</p>

<p>
  <strong>Body size hip:</strong>
  <%= @goal.body_size_hip %>
</p>

<p>
  <strong>Body size arm:</strong>
  <%= @goal.body_size_arm %>
</p>

<p>
  <strong>Body size leg right:</strong>
  <%= @goal.body_size_leg_right %>
</p>

<p>
  <strong>Body size calf right:</strong>
  <%= @goal.body_size_calf_right %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
