<p id="notice"><%= notice %></p>
<table class="table table-striped"
style="text-align: left;">
  <thead>
    <tr>
      <th style="width:16em;">name</th>
      <th>value</th>   
    </tr>
  </thead>
  <tbody>
<tr>
  <td style="text-align: right; ">ユーザ:</td><td>
  <%= @goal.user.name %>
</td></tr>

<tr>
  <td style="text-align: right; ">開始日:</td><td>
  <%= @goal.start_date %>
</td></tr>

<tr>
  <td style="text-align: right; ">終了日:</td><td>
  <%= @goal.end_date %>
</td></tr>

<tr>
  <td style="text-align: right; ">メモ:</td><td>
  <%= @goal.memo %>
</td></tr>

<tr>
  <td style="text-align: right; ">プッシュ_重量:</td><td>
  <%= @goal.push_val1 %>
  :
  標準目標（体重＊1.5）…
  <%= @page.wight * 1.5 %>
</td></tr>

<tr>
  <td style="text-align: right; ">プッシュ_回数:</td><td>
  <%= @goal.push_val2 %>
  :
  目標パワー計算（重量＊回数の係数）…
  <%= @goal.push_power %>
</td></tr>

<tr>
  <td style="text-align: right; ">プル_重量:</td><td>
  <%= @goal.pull_val1 %>
  :
  標準目標（体重＊2.5）…
  <%= @page.wight * 2.5 %>
</td></tr>

<tr>
  <td style="text-align: right; ">プル_回数:</td><td>
  <%= @goal.pull_val2 %>
  :
  目標パワー計算（重量＊回数の係数）…
  <%= @goal.pull_power %>
</td></tr>

<tr>
  <td style="text-align: right; ">レッグ_重量:</td><td>
  <%= @goal.leg_val1 %>
  :
  標準目標（体重＊2.0）…
  <%= @page.wight * 2.0 %>
</td></tr>

<tr>
  <td style="text-align: right; ">レッグ_回数:</td><td>
  <%= @goal.leg_val2 %>
  :
  目標パワー計算（重量＊回数の係数）…
  <%= @goal.leg_power %>
</td></tr>

<tr>
  <td style="text-align: right; ">チンニング_重量:</td><td>
  <%= @goal.back_val1 %>
  :
  標準目標（体重＊1.35）…
  <%= @page.wight * 1.35 %>
</td></tr>

<tr>
  <td style="text-align: right; ">チンニング_回数:</td><td>
  <%= @goal.back_val2 %>
  :
  目標パワー計算（重量＊回数の係数）…
  <%= @goal.back_power %>
</td></tr>

<tr>
  <td style="text-align: right; ">タンパク質摂取量_レスト:</td><td>
  <%= @goal.protein_val1 %>
</td></tr>

<tr>
  <td style="text-align: right; ">タンパク質摂取量_トレーニング:</td><td>
  <%= @goal.protein_val2 %>
</td></tr>

<tr>
  <td style="text-align: right; ">炭水化物摂取量_レスト:</td><td>
  <%= @goal.carbohydrate_val1 %>
</td></tr>

<tr>
  <td style="text-align: right; ">淡水貨物摂取量_トレーニング:</td><td>
  <%= @goal.carbohydrate_val2 %>
</td></tr>

<tr>
  <td style="text-align: right; ">脂肪摂取量_レスト:</td><td>
  <%= @goal.fat_val1 %>
</td></tr>

<tr>
  <td style="text-align: right; ">脂肪摂取量_トレーニング:</td><td>
  <%= @goal.fat_val2 %>
</td></tr>

<tr>
  <td style="text-align: right; ">野菜摂取量_レスト:</td><td>
  <%= @goal.vegetable_val1 %>
</td></tr>

<tr>
  <td style="text-align: right; ">野菜摂取量_トレーニング:</td><td>
  <%= @goal.vegetable_val2 %>
</td></tr>

<tr>
  <td style="text-align: right; ">体重:</td><td>
  <%= @goal.weight_val1 %> => 
  <%= @page.wight %>
</td></tr>

<tr>
  <td style="text-align: right; ">体脂肪:</td><td>
  <%= @goal.fat_per_val1 %> => 
  <%= @page.body_fat_per %>
</td></tr>

<tr>
  <td style="text-align: right; ">サイズ_首回り:</td><td>
  <%= @goal.body_size_neck %>
</td></tr>

<tr>
  <td style="text-align: right; ">サイズ_バスト:</td><td>
  <%= @goal.body_size_bust %>
</td></tr>

<tr>
  <td style="text-align: right; ">サイズ_ウェスト:</td><td>
  <%= @goal.body_size_waist %>
</td></tr>

<tr>
  <td style="text-align: right; ">サイズ_ヒップ:</td><td>
  <%= @goal.body_size_hip %>
</td></tr>

<tr>
  <td style="text-align: right; ">サイズ_腕:</td><td>
  <%= @goal.body_size_arm %>
</td></tr>

<tr>
  <td style="text-align: right; ">サイズ_脚:</td><td>
  <%= @goal.body_size_leg_right %>
</td></tr>

<tr>
  <td style="text-align: right; ">Bodサイズ_ふくらはぎ:</td><td>
  <%= @goal.body_size_calf_right %>
</td></tr>
</tbody>
</table>

<%= link_to '編集', edit_goal_path(@goal) ,class: "btn btn-default"%> |
<%= link_to '戻る', goals_path ,class: "btn btn-default" %>
