<p id="notice"><%= notice %></p>

<p>
  <strong>Provider:</strong>
  <%= @user.provider %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @user.uid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Icon:</strong>
  <%= image_tag @user.icon , size: "16x16" %>
  <%= @user.icon %>
</p>

<p>
  <strong>Oauth token:</strong>
  <%= @user.oauth_token %>
</p>

<p>
  <strong>Oauth expires at:</strong>
  <%= @user.oauth_expires_at %>
</p>

<p>
  <strong>administrator:</strong>
  <%= @user.administrator %>
</p>
<%= link_to "編集", edit_admin_user_path(@user) %>
<%= link_to "index", admin_users_path %>
