<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @food_category.name %>
</p>

<p>
  <strong>No:</strong>
  <%= @food_category.no %>
</p>

<p>
  <strong>Order:</strong>
  <%= @food_category.order %>
</p>

<%= link_to 'Edit', edit_food_category_path(@food_category) %> |
<%= link_to 'Back', food_categories_path %>
