<p id="notice"><%= notice %></p>

<h1>Listing Feelings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Score</th>
      <th>Memo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feelings.each do |feeling| %>
      <tr>
        <td><%= feeling.name %></td>
        <td><%= feeling.score %></td>
        <td><%= feeling.memo %></td>
        <td><%= link_to 'Show', admin_feeling_path(feeling) %></td>
        <td><%= link_to 'Edit', edit_admin_feeling_path(feeling) %></td>
        <td><%= link_to 'Destroy', admin_feeling_path(feeling), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feeling', new_admin_feeling_path %>

<%= link_to '管理ページに戻る', admin_top_path %>
