<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @feeling.name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @feeling.score %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @feeling.memo %>
</p>

<%= link_to 'Edit', edit_admin_feeling_path(@feeling) %> |
<%= link_to 'Back', admin_feelings_path %>
