<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="ここにタイトル" />
    <meta property="og:type" content="ここにタイプ" />
    <meta property="og:url" content="ここにページのURL" />
    <meta property="og:image" content="images/bodyicon.png" />
    <title><%= content_for?(:title) ? yield(:title) : "H.S.Training Note" %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="header">
      <%= render "shared/header" %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <div class="footer">
      <%= render "shared/footer" %>
    </div>
  </body>    
</html>
